html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* body {
  min-height: 100vh;
  background: #ab7b00;
  background: linear-gradient(
    200deg,
    #ad7c00 4%,
    #140f00 11%,
    #0d0900 89%,
    #9c7103 97%
  );
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
} */ 


body {
  background-color: #191919;
}