/* @font-face {
  font-family: Scriptina;
  src: "../assets/fonts/SCRIPTIN.tff";
}*/

.nav-bar {
  background-color: rgba(25, 25, 25, 0.7);
  border: none;
  backdrop-filter: blur(1px);
  box-shadow: 0 20px 16px rgba(25, 25, 25, 0.7);
}

.nav-brand {
  /* font-family: Scriptina; */
  font-weight: lighter;
  color: #e314ea;
}

.nav-brand:hover {
  font-size: 200rem;
  font-weight: normal;
  color: #914cff;
}

.nav-link {
  color: #868686;
  font-weight: lighter;
}

.nav-link:hover,
.nav-brand:hover {
  font-size: larger;
  font-weight: normal;
  color: #914cff;
}

.nav-link:active {
  color: #e314ea;
}