html,
body,
#root {
  height: 100%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e6e6e6;
}

body {
  background-color: #191919;
  padding-top: 9rem;
}

h1,
h4,
h5,
p,
span {
  font-weight: lighter;
}
